<a href="https://colab.research.google.com/github/Rubait-islam-jami/Machine-learning/blob/main/Md_Rubait_Islam_Jami_MID.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Email : rubaitjami278@gmail.com

Sample Data

In [ ]:
import numpy as np
import pandas as pd

np.random.seed(42)

ids = np.arange(1, 11)
ages = np.random.randint(18, 60, 10)
salaries = np.random.randint(30000, 90000, 10)
departments = np.array(["HR", "IT", "Finance", "IT", "HR", "Sales", "Finance", "IT", "Sales", "HR"])

DF = pd.DataFrame({
"id": ids,
"age": ages,
"salary": salaries,
"dept": departments
})

DF.to_csv("employees.csv", index=False)
print("Sample Data Created and Saved as employees.csv")

Sample Data Created and Saved as employees.csv

Q1

In [ ]:
data= np.genfromtxt('employees.csv', delimiter=",", dtype=None, names=True ,encoding =None)

ages_arr= data['age']
salaries_arr= data['salary']

print("Ages Array:",ages_arr)
print("dtype:",ages_arr.dtype)
print("ndim:",ages_arr.ndim)
print("shape:",ages_arr.shape)
print("size:",ages_arr.size)

print()

print("Salaries Array:",salaries_arr)
print("dtype:",salaries_arr.dtype)
print("ndim:",salaries_arr.ndim)
print("shape:",salaries_arr.shape)
print("size:",salaries_arr.size)

Ages Array: [56 46 32 25 38 56 36 40 28 28]
dtype: int64
ndim: 1
shape: (10,)
size: 10

Salaries Array: [77191 74131 46023 71090 31685 30769 89735 86101 32433 35311]
dtype: int64
ndim: 1
shape: (10,)
size: 10

Q2

In [ ]:
print("Highest salary:", np.max(salaries_arr))
print("Lowest salary:", np.min(salaries_arr))
print("Average salary:", np.mean(salaries_arr))
print("Average age",np.mean(ages_arr))

Highest salary: 89735
Lowest salary: 30769
Average salary: 57446.9
Average age 38.5

Q3

In [ ]:
ages_greater_30 = ages_arr[ages_arr >30]

print("Ages greater than 30:",ages_greater_30)
print("Number of employees older than 30:",ages_greater_30.size)

Ages greater than 30: [56 46 32 38 56 36 40]
Number of employees older than 30: 7

Q4

In [ ]:
updated_ages = ages_arr + 5
print("Updated ages posivtly 5:",updated_ages)

Updated ages posivtly 5: [61 51 37 30 43 61 41 45 33 33]

Q5

In [ ]:
total_salary = np.sum(salaries_arr)
salary_range = np.max(salaries_arr)-np.min(salaries_arr)

print("Total salary expense:",total_salary)
print("Salary difference",salary_range)

Total salary expense: 574469
Salary difference 58966

Q6

In [ ]:


print("First 5 rows :")
print(DF.head())

print("\n DataFrame Info:")
print(DF.info())

print("\n summary statistics:")
print(DF.describe())

First 5 rows :
   id  age  salary     dept
0   1   56   77191       HR
1   2   46   74131       IT
2   3   32   46023  Finance
3   4   25   71090       IT
4   5   38   31685       HR

 DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      10 non-null     int64
 1   age     10 non-null     int64
 2   salary  10 non-null     int64
 3   dept    10 non-null     object
dtypes: int64(3), object(1)
memory usage: 452.0+ bytes
None

 summary statistics:
             id       age        salary
count  10.00000  10.00000     10.000000
mean    5.50000  38.50000  57446.900000
std     3.02765  11.16791  24357.262884
min     1.00000  25.00000  30769.000000
25%     3.25000  29.00000  33152.500000
50%     5.50000  37.00000  58556.500000
75%     7.75000  44.50000  76426.000000
max    10.00000  56.00000  89735.000000

Q7

In [ ]:
subset_df = DF[["id","age","salary"]]

print("Last 3 rows of id,age,salary:")
print(subset_df.tail(3))

Last 3 rows of id,age,salary:
   id  age  salary
7   8   40   86101
8   9   28   32433
9  10   28   35311

Q8

In [ ]:
IT_employees = DF[DF['dept'] == 'IT']

print("IT employees:")
print(IT_employees)

print("\n total IT employess:",IT_employees.shape[0])

IT employees:
   id  age  salary dept
1   2   46   74131   IT
3   4   25   71090   IT
7   8   40   86101   IT

 total IT employess: 3

Q9

In [ ]:
top_paid = DF.sort_values(by='salary', ascending=False)[["id","salary","dept","age"]].head(3)

print("Top 3 highest paid employees:")
print(top_paid)

Top 3 highest paid employees:
   id  salary     dept  age
6   7   89735  Finance   36
7   8   86101       IT   40
0   1   77191       HR   56

Q10

In [ ]:
DF.loc[DF["salary"] > 80000,"salary"] =80000

new_avg_salary= DF["salary"].mean()
print("New avg salary:",new_avg_salary)

New avg salary: 55863.3